db
greybox_tmp
incremental_db
output_files
simulation
hc_output
scaler
hps_isw_handoff
vip
*_sim
.qsys_edit
PLLJ_PLLSPE_INFO.txt
*.bak
*.orig
*.rej
*.qdf
*.rpt
*.smsg
*.summary
*.done
*.jdi
*.pin
*.sof
*.qws
*.ppf
*.ddb
build_id.v
c5_pin_model_dump.txt
*.sopcinfo
*.csv
*.f
*.cmp
*.sip
*.spd
*.bsf
*~
*_netlist
*.cdf
**/.DS_Store
*.stp
doc/
dsk/
tmp/
/rom/
tools/private/
TODOS
tools/CreateMSXpack/ToImport/
*.gtkw
*.ini
*.vcd
verilator/rom/
tools/CreateMSXpack/__pycache__/
*.log
*.msx
*.ROM
tools/debugger/output.bin
tools/debugger/traceViewer/output.bin
tools/debugger/traceViewer/.vs/
tools/debugger/traceViewer/Release/
*.obj
tools/debugger/trace_viewer.exe
verilator/
verilator_mod/
verilator_mod2/
verilator_modules/
verilator_mod/obj_dir/
verilator_mod/x64/
verilator_mod/sim_modules/
